<h3 class="footer__title">E-posta bültenimize kayıt olun</h3>
<div class="newsletter">
    <form action="/Home/Mailing/" method="post" enctype="multipart/form-data">
        <input type="email" name="Email" placeholder="info@yourmail.com">
        <button type="submit" class="submit"><i class="fa-solid fa-arrow-right"></i></button>
        <label for="note">
            <input type="checkbox" name="note" id="note">
            kayıt olarak elektronik posta alacağınızı kabul edersiniz
        </label>
    </form>
</div>