
@{
    ViewData["Title"] = "SEODetail";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- Mobile Menu start -->
<div class="mobile__menu">
    <button class="close__menu"><i class="fa-solid fa-xmark"></i></button>
</div>
<!-- Mobile Menu end -->
<!-- Breadcrumb section start -->
<section class="breadcrumb__area" style="background-image: url(~/imgs/breadcrumb/service-details.jpg);">
    <div class="container">
        <div class="breadcrumb__content">
            <p class="cxu-words">Ana Sayfa - Hizmet Detayları</p>
            <h1 class="breadcrumb__title cxu-chars">Hizmet Detayları</h1>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Service details start -->
<section class="service__details-area pt-140">
    <div class="container">
        <div class="service__details-top">
            <h1 class="title cxu-words">SEO Hizmeti Detayları</h1>
            <img src="~/imgs/service/seo1.jpg" alt="Image" data-speed="0.95" style="border-radius:20px;">
        </div>

        <div class="service__details-wrapper">
            <div class="service__details-content cxu-fade" data-ease="back">
                <h2>Sektörünüzde lider yapacak kapatisede tecrübe</h2>
                <p>
                    Web sayfalarınızın SEO optimizasyonlarını titizlikle yaparak arama sonuçlarında ent üst sıralarda çıkmanızı ve daha fazla müşteriye ulaşmanızı sağlıyoruz.
                </p>
                <h2>Süreç Detayları</h2>
                <p>
                    Daha çok müşteriye ulaşmanın yollarından biri SEO optimizasyonu hizmetimizden yararlanarak arama sonuçlarında en üst sıralarda çıkmaktır. 
                    Hizmetimizden faydalanmak için hemen bize ulaşın.
                </p>
            </div>
            <div class="service__details-sidebar cxu-fade" data-ease="back" data-delay="0.5">
                <div class="book-call">
                    <img src="~/imgs/service/service-details-3.jpg" alt="Image">
                    <h3 class="title">Hemen Bizi Arayın!</h3>
                    <a href="tel:@ViewBag.phonenumber" class="cxu-btn-primary">
                        Bize Ulaşın <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service details end -->
<!-- Full Image area start -->
<div class="service__full-image">
    <img src="~/imgs/service/seo2.jpg" alt="Image" data-speed="0.8">
</div>
<!-- Full Image area end -->
<!-- Related Service section start -->
<section class="service__related-area pt-140 pb-140">
    <div class="container">
        <div class="service__related-wrapper">
            <div class="top">
                <h2 class="sec-title cxu-words">Diğer <br> hizmetlerimiz.</h2>
                <p class="cxu-lines">
                    SEO optimizasyonu hizmeti yanında grafik tasarım, web tasarım ve e-ticaret danışmanlığı hizmeti ile de yanınızdayız.
                </p>
                <a href="/Home/Contact" class="cxu-btn-primary cxu-fade" data-ease="back">Bize Ulaşın</a>
            </div>

            <div class="cxu__service style-2">
                <div class="service-item cxu-fade" data-ease="back">
                    <div class="icon">
                        <img src="~/imgs/service/i1.png" alt="Icon">
                    </div>
                    <h3 class="title">E-Ticaret <br> Danışmanlığı/h3>
                    <p>E-ticaret danışmanlığı hizmetlerimiz için ulaşın.</p>
                    <div class="link">
                        <a href="/Home/EcommerceDetail">Daha Fazla <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="service-item cxu-fade" data-ease="back">
                    <div class="icon">
                        <img src="~/imgs/service/i2.png" alt="Icon">
                    </div>
                    <h3 class="title">Sosyal Medya <br> Yönetimi</h3>
                    <p>Sosyal Medya Yönetimi hizmetlerimiz için ulaşın.</p>
                    <div class="link">
                        <a href="/Home/SocialMediaDetail">Daha fazla <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Service section end -->
<!-- CTA section start -->
<section class="cta__area cta__area-2 pt-150 pb-150">
    <div class="container">
        <div class="cta__content">
            <h2 class="sec-title cxu-words">GELİN, BERABER İNANILMAZ PROJELERE İMZA ATALIM!</h2>
            <a href="/Home/Contact" class="cxu-btn-primary cxu-fade" data-ease="bounce">
                Yeni Bir Proje Başlatın <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <img src="~/imgs/shape/cta.png" alt="Shape" class="shape" data-speed="0.94">
    <img src="~/imgs/shape/cta-2.png" alt="Shape" class="shape-2" data-speed="0.95">
    <img src="~/imgs/shape/cta-3.png" alt="Shape" class="shape-3" data-speed="0.9">
    <img src="~/imgs/shape/cta-4.png" alt="Shape" class="shape-4">
</section>
<!-- CTA section end -->
