
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}


<!-- Mobile Menu start -->
<div class="mobile__menu">
    <button class="close__menu"><i class="fa-solid fa-xmark"></i></button>
</div>
<!-- Mobile Menu end -->
<!-- Breadcrumb section start -->
<section class="breadcrumb__area" style="background-image: url(~/imgs/breadcrumb/service.jpg);">
    <div class="container">
        <div class="breadcrumb__content">
            <p class="cxu-words">Ana Sayfa - Hizmetlerimiz</p>
            <h1 class="breadcrumb__title cxu-chars">Hizmetlerimiz</h1>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Service section start -->
<section class="service__area-2 pt-140 pb-140" id="services">
    <div class="container">
        <div class="service__top-2">
            <h2 class="sec-title cxu-words">Hizmetlerimiz</h2>
        </div>

        <div class="cxu__service style-2">
            <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                    <img src="~/imgs/service/i1.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/EcommerceDetail">E-Ticaret <br> Danışmanlığı </a></h3>
                <p>Alanında uzman ekibimizden e-ticaret danışmanlığı alın.</p>
                <div class="link">
                    <a href="/Home/EcommerceDetail">Daha Fazla Bilgi <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="service-item cxu-fade" data-ease="back" data-delay="0.6">
                <div class="icon">
                    <img src="~/imgs/service/i2.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/WebDesignDetail">Web <br> Tasarım</a></h3>
                <p>Alanında uzman ekibimizden web tasarım hizmeti alın.</p>
                <div class="link">
                    <a href="/Home/WebDesignDetail">Daha Fazla Bilgi <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="service-item cxu-fade" data-ease="back" data-delay="0.8">
                <div class="icon">
                    <img src="~/imgs/service/i3.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/SoftwareDevelopmentDetail">Yazılım <br> Geliştirme</a></h3>
                <p>Alanında uzman ekibimizden yazılım geliştirme hizmeti alın.</p>
                <div class="link">
                    <a href="/Home/SoftwareDevelopmentDetail">Daha Fazla Bilgi <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="service-item cxu-fade" data-ease="back" data-delay="1">
                <div class="icon">
                    <img src="~/imgs/service/i4.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/GraphicDesignDetail">Grafik <br> Tasarım</a></h3>
                <p>Alanında uzman ekibimizden grafik tasarım hizmeti alın.</p>
                <div class="link">
                    <a href="/Home/GraphicDesignDetail">Daha Fazla Bilgi<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                    <img src="~/imgs/service/i5.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/SocialMediaDetail">Sosyal Medya <br> Yönetimi</a></h3>
                <p>Alanında uzman ekibimizden sosyal medya yönetimi danışmanlığı alın.</p>
                <div class="link">
                    <a href="/Home/SocialMediaDetail">Daha Fazla Bilgi<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="service-item cxu-fade" data-ease="back">
                <div class="icon">
                    <img src="~/imgs/service/i6.png" alt="Icon">
                </div>
                <h3 class="title"><a href="/Home/SEODetail">SEO  <br> Yönetimi</a></h3>
                <p>Alanında uzman ekibimizden SEO yönetimi danışmanlığı alın.</p>
                <div class="link">
                    <a href="/Home/SEODetail">Daha Fazla Bilgi <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service section end -->
<!-- CTA section start -->
<section class="cta__area pt-150 pb-150">
    <div class="container">
        <div class="cta__content">
            <h2 class="sec-title cxu-lines">GELİN, BİRLİKTE İNANILMAZ PROJELERE İMZA ATALIM</h2>
            <div class="cxu-fade" data-ease="bounce">
                <a class="modal__btn style-2" href="contact.html">
                    <img src="~/imgs/shape/contact.png" alt="Icon" class="image">
                    <div class="icon">
                        <div class="icon-1"><img src="~/imgs/shape/arrow-4.svg" alt="Icon"></div>
                        <div class="icon-2"><img src="~/imgs/shape/arrow-4.svg" alt="Icon"></div>
                    </div>
                </a>
            </div>
            <img src="~/imgs/shape/cta-5.png" alt="Shape" class="shape-5" data-speed="0.8">
        </div>
    </div>

    <img src="~/imgs/shape/cta.png" alt="Shape" class="shape" data-speed="0.9">
    <img src="~/imgs/shape/cta-2.png" alt="Shape" class="shape-2" data-speed="0.9">
    <img src="~/imgs/shape/cta-3.png" alt="Shape" class="shape-3" data-speed="0.9">
    <img src="~/imgs/shape/cta-4.png" alt="Shape" class="shape-4">
</section>
<!-- CTA section end -->
